body {
  background: #043e35 !important;
  margin: 0px 60px;
  font-family: "Pentor Corporate" !important;
}
@media (max-width: 1100px) {
  body {
    zoom: 0.9; /* ย่อทั้ง layout */
  }
  .W-default {
    width: max-content !important;
  }
  .copy-clipboard {
    left: 88% !important;
  }
}
@media (max-width: 900px) {
  body {
    zoom: 0.8; /* ย่อทั้ง layout */
  }
  .box-Navbar {
    width: max-content !important;
  }
  .box-all-content {
    width: 30rem !important;
  }
  .box-all {
    width: 30rem !important;
  }
  .box-intro {
    width: 40rem !important;
  }
  .box-cotent {
    background: #043e35 !important;
  }
}
@media (max-width: 500px) {
  body {
    zoom: 0.5; /* ย่อทั้ง layout */
  }
}
@media (max-width: 400px) {
  body {
    zoom: 0.4; /* ย่อทั้ง layout */
  }
}
@font-face {
  font-family: "Pentor Corporate";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/PentorCorporate-Regular.woff") format("truetype");
}

a:hover {
  text-decoration: none !important;
}

.header {
  // background: #043E35 !important;
  // padding: 20px 10px !important;
  /* padding-top: 100px !important; */
}

// .nav-header {
//   padding: 10px
// }

.font-prim {
  color: #19a17a !important;
  font-size: 1.875rem;
  line-height: 2.5625rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.box-cotent {
  background: #f2f3f4;
  display: flex;
  width: 100%;
  position: relative;

  .img {
    width: 100%;
    margin: 0;
  }
}

.box-Navbar {
  width: 15%;
  background: white;
  position: relative;
  top: -0px;
}

.logo {
  width: 100%;
  background: #043e35;
  padding: 28px 0px;

  i {
    font-size: 70px;
    color: #21ccfc;
  }

  text-align: center;
}

.box-intro {
  background: #ffff;

  margin: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
}

.box-version {
  background: #ffff;

  margin: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
}

.box-lottotype {
  background: #f2f3f4;

  margin: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
}

.box-Sem {
  // background: white;
  border-radius: 5px;
  padding: 8px 0px 0px 0px;
  margin-left: 5px;
  margin-right: 0px;
}

.box-tran {
  border-radius: 5px;
  padding: 5px;
  margin-left: 4px;
}

.box-Sev {
  background: #ffff;

  margin-top: 10px;
  border-radius: 5px;
  padding: 10px 30px;
  // margin-left: 10px;
}

.box-all-content {
  background: #ffffff;
  padding-left: 15px;
  padding-top: 10px;
  margin-top: 5px;
  border-radius: 0.375rem;
  width: 44%;
  margin-left: 4px;
  padding-right: 0px;
}

.bRight {
  border-left: 1px #ced4da solid !important;
  border-right: 1px #ced4da solid !important;
}

.thcolor {
  background-color: #043e35 !important;
  font-size: 0.8125rem;
  line-height: 0.875rem;
  font-weight: 600;
  vertical-align: top;
  color: #ffffff;
  padding-top: 0.875rem;
  padding-bottom: 0.625rem;
}

.text-nav {
  color: #043e35;
  text-decoration: unset;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #053e35ca;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #043e35;
}

.svg-doc {
  width: 25px;
  padding: 0px 6px;
  position: relative;
  top: -3px;
}

img {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pb-3 {
  padding: 5px 10px;
}

.box-all {
  background: #ffff;

  padding: 10px 20px 0px 20px;
  margin-top: 5px;
  border-radius: 0.375rem;
  width: 55%;
}

.custom-textarea {
  width: 98%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
  background-color: #f8f8f8;
  color: #0005e3;
  margin-top: 5px;
}

.boxinput {
  // margin-top: 30px;
  display: flex;
  // margin-left: 15px;
  // background: #fff;
  width: fit-content;

  .false-input {
    background: #f8f8f8;
    display: flex;
    border: solid 1px #000;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 5px;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    // position: absolute;
    // left: 40%;
    // top: 45%;
  }

  select,
  input {
    height: auto;
    border-style: none;
    outline: none;
    border-radius: 5px;
    margin: 10px;
    background: none;
    color: #000;
    width: 428px;
  }

  .false-input:focus-within {
    -webkit-box-shadow: 0px 0px 2px 1px rgb(25, 161, 122) !important;
    -moz-box-shadow: 0px 0px 2px 1px rgb(25, 161, 122) !important;
    box-shadow: 0px 0px 2px 1px rgb(25, 161, 122) !important;
    background: #f0f0f0;
  }

  .InputGroup-prefix {
    font-size: 15px;
    font-weight: bold;
  }

  .divider {
    //  border-right:1px solid #16222c;
    height: 90%;
    //  position:absolute;
    //  left: 60px;
    //  top: 5%;
  }

  .buttonbasic {
    color: #000;
    width: 100%;
    height: 33px;
    border-left: 0px solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    background: #f8f8f8;
  }

  .border-R {
    border-right: 1px solid #000;
  }
}

.btn-send {
  .button {
    margin-bottom: 0px;
  }

  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }

  .custom-btn {
    width: 90px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 0px 0px;
    font-weight: 500;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    //  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    //  7px 7px 20px 0px rgba(0,0,0,.1),
    //  4px 4px 5px 0px rgba(0,0,0,.1);
  }

  /* 13 */
  .btn-13 {
    background-color: #19a17a !important;
    // background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
  }

  .btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: rgb(0, 196, 140);
    // background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
      // -7px -7px 20px 0px #fff9,
      // -4px -4px 5px 0px #fff9,
      7px 7px 20px 0px #0002,
      4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }

  .btn-13:hover {
    color: #fff;
  }

  .btn-13:hover:after {
    top: 0;
    height: 100%;
  }

  .btn-13:active {
    top: 2px;
  }
}

.divBox-content {
  display: flex;
  justify-content: center;
  border: 1px solid #ced4da;
  background: #fff;
  border-radius: 0.375rem;
  color: black;
  padding: 10px;
  margin-left: 2%;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 93%;
  text-align: center;
  padding: 0px 0px 30px 0px;
  flex-direction: column;
}

.box-respon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ced4da;
  padding-bottom: 0px;
}

.padding-content {
  padding: 10px 40px;
}

.pdd-top {
  padding: 20px;
}

.box-r-scoll {
  height: 950px;
  overflow: scroll;
}

.buton-suscess {
  border: black 0.5px solid;
  border-radius: 70px;
  background: #12ca93;
  width: 15px;
  height: 15px;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 2px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.1);
}

.buton-fail {
  border: black 0.5px solid;
  border-radius: 70px;
  background: #e95f6a;
  width: 15px;
  height: 15px;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 2px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.1);
}

// -

.slide44 {
  input {
    display: none;
  }

  label {
    cursor: pointer;
  }

  .test {
    -webkit-transition: height 0.3s ease;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
  }

  input:checked + .test {
    height: 250px;
    // top: -45px;
  }

  .s_triangle {
    position: relative;
    display: block;
    font-size: 30px;
  }

  .s_summary {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
  }

  // .s_left_col,
  // .s_right_col {
  //   position: relative;
  // }

  // .s_left_col {
  //   text-align: left;
  //   height: 25px;

  // }

  // .s_right_col {
  //   text-align: right;
  // }

  // .s_content {
  //   padding: .5rem 3rem;
  // }
}

.slide {
  input {
    display: none;
  }

  label {
    cursor: pointer;
  }

  .test {
    -webkit-transition: height 0.3s ease;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
  }

  input:checked + .test {
    height: 250px;
  }

  .s_container {
    position: relative;
    padding: 0.5rem 1rem;
    width: -moz-fit-content;
    width: fit-content;
    right: -30%;
    top: -57px;
    height: 0;
  }

  .s_triangle {
    position: relative;
    display: block;
    font-size: 30px;
  }

  .s_summary {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
  }
}

.W-default {
  width: 85%;
}

.nav-pc {
  position: sticky;
  top: 0;
  height: 930px;
}

.nav-mobile {
  display: none;
}

// /* responsive */
// @media only screen and (max-width:800px) {

//   .divBox {
//     padding: 30px !important;

//   }

//   .nav-mobile {
//     display: block;
//   }

//   body {
//     font-size: 13px !important;

//   }

//   .logo {
//     width: 100%;
//     background: #043E35;
//     padding: 28px 0px;

//     i {
//       font-size: 70px;
//       color: #21CCFC;
//     }

//     text-align: center;
//   }

//   .font-prim {
//     font-size: 1rem;
//     margin-bottom: 0.5rem;
//   }

//   .left-menutop {
//     display: none;
//   }

//   .box-tran {
//     display: flex;
//     flex-direction: column;
//   }

//   .box-all-content {
//     width: 100%;
//     padding-left: 5px;
//     margin-left: 0px;
//   }

//   .W-default {
//     // width: 1024px;
//     // max-width: 1366px;
//     width: 100%
//   }

//   h1 {
//     font-size: 1rem !important;
//   }

//   .box-all {
//     padding: 0px 10px 0px 10px;
//     width: 100%;
//   }

//   .box-Sev {
//     background: white;
//     margin-top: 10px;
//     border-radius: 5px;
//     padding: 10px 10px;
//   }

//   .M-pading-none {
//     padding: inherit !important;
//   }

//   .box-Sem {
//     border-radius: 0px;
//     padding: 0px;
//     margin-left: 0px;
//     margin-right: 0px;
//     display: flex;
//     flex-direction: column;
//   }

//   ul li {
//     padding: 3px 0px;
//   }

//   .box-tran {
//     padding: 0px;
//     margin-left: 2px;
//   }

//   .accordion {
//     .section {
//       label {
//         padding: 0px 0px 0px 0px;

//         span {
//           padding: 0px 0px;
//         }
//       }
//     }
//   }

//   .boxinput {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .false-input {
//       margin-top: 5px;
//     }
//   }

//   .box-version {
//     margin: 0px;
//     border-radius: 5px;
//     padding: 5px 5px;
//     margin-left: 0px;
//   }

//   .col-12 {
//     padding-right: 0px !important;
//     padding-left: 0px !important;
//   }

//   .hljs {
//     width: 99% !important;
//   }

//   .box-Navbar {
//     display: none;
//   }

//   .nav-mobile {}

// }

// @media (min-width:801px) and (max-width:1400px) {
//   .boxinput {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .false-input {
//       margin-top: 5px;
//     }
//   }
// }

// @media (min-width:1201px) {
//   h1 {
//     font-size: 2rem !important;
//   }
// }

ul {
  margin-top: 0;
  margin-bottom: 0rem !important;
}

.dis-colum-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dis-center {
  display: flex;
  justify-content: center;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  background: #fff;
  border-radius: 3px;
  height: 800px;
  margin: 6% auto;
  max-width: 800px;
  overflow: scroll;
  padding: 20px;
  position: relative;
  width: 100%;
  max-height: 800px;
  top: 0px !important;
}

.close {
  background: #f42b42;
  // color: #fff;
  line-height: 25px;
  position: absolute;
  right: 22px;
  text-align: center;
  top: 15px;
  width: 34px;
  height: 34px;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  // box-shadow: 1px 1px 3px #000;
  padding-top: 5px;
}

.close:hover {
  background: red;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  z-index: 1000000;
}

.loading:not(:required):after {
  position: relative;
  content: "";
  display: block;
  z-index: 1000000000;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow:
    rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow:
    rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

::selection {
  color: #19a17a !important;
}
